@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #E4EBF8;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.main-title {
  display: flex;
  align-items: center;
  padding: 70px 0 43px;
}

.main-title h1 {
  font-size: 36px;
  font-weight: 400;
}

.main-title svg {
  margin-right: 14px;
}

button {
  cursor: pointer;
  border: none;
}

button:active {
  transform: scale(0.98);
}

.primary-btn {
  background-color: #588AE8;
  color: #fff;
  height: 62px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #588AE8;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 70px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.primary-btn:hover, .add-btn:hover {
  background-color: #336ad0;
}

.delete-btn {
  background-color: #E86058;
}

.delete-btn:hover {
  background-color: #d53f37;
}

.call-btn {
  background-color: #6ADA42;
}

.call-btn:hover {
  background-color: #51b92a;
}