@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #E4EBF8;
}

.main-title {
  display: flex;
  align-items: center;
}

.main-title h1 {
  font-size: 36px;
  font-weight: 400;
}

.main-title svg {
  margin-right: 14px;
}

.primary-btn {
  background-color: #588AE8;
  color: #fff;
  height: 62px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 20px;
  border-radius: 8px;
}

.add-btn {
  position: fixed;
  background-color: #588AE8;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 70px;
  line-height: 100%;
}